@font-face {
  font-family: "PicNic";
  src: url("/fonts/PicNic-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  }


.horizon-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 20vh;
  border-top: 1px solid white;
  background-color: black;
  z-index: -1;
}

.mighty-tree path,
.mighty-tree polygon,
.mighty-tree line {
  fill: black !important;
  stroke: white !important;
  stroke-width: 2px !important;
}

.mascot-container path,
.mascot-container polygon,
.mascot-container line,
.mascot-container ellipse,
.mascot-container circle {
  fill: black !important;
  stroke: white !important;
  stroke-width: 2px !important;
}

.mascot-by-tree .mascot-svg {
  transform: translate(calc(65vw), 40vh);
}

.submit-button {
  text-align: left;
}

.scale-0 {
  transform: scale(0, 0);
  transform-origin: top;
}

.scale-100 {
  transform: scale(1, 1);
  transform-origin: top;
}

.grow-animation {
  transition: transform 4s;
}

.title {
  color: black;
  text-align: left;
  font-family: "PicNic", sans-serif;
  font-size: 6rem;
  line-height: 0.75;
  padding-bottom: 1.5rem;
  padding-top: 2rem;
  -webkit-text-stroke: 1px white;
  -moz-text-stroke: 1px white;
  -ms-text-stroke: 1px white;
}

.lippie-svg path,
.lippie-svg polygon,
.lippie-svg line,
.lippie-svg circle,
.lippie-svg ellipse {
  fill: black !important;
  stroke: white !important;
  stroke-width: 7px !important;
}

.lippie-container {
  position: absolute;
  z-index: 1000;
  transition: opacity 300ms ease-in-out;
}

@media (max-width: 400px) {
  .mascot-by-tree .mascot-svg {
    transform: translate(calc(45vw), 30vh);
    z-index: 10;
  }

  .title {
    font-size: 4rem;
    position: relative;
    z-index: 10;
  }

  .horizon-container {
    height: 15vh;
  }
}

@media (max-width: 640px) {
  .mascot-by-tree .mascot-svg {
    transform: translate(calc(35vw), 20vh);
  }

  .title {
    font-size: 3rem;
  }
}
