@font-face {
  font-family: 'Drafting Mono';
  src: url('/fonts/DraftingMono-Thin.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    font-family: 'Drafting Mono', monospace;
    font-weight: 300;
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}
